//
// Color palette partial
// This file contains variables for all colors in use on the site.
//

$primary-color: #9045b7;
$secondary-color: #1CAAE9;
$tertiary-color: #B10DC9;
$background-color: #ddd;
$background-transparent-color: rgba(221, 221, 221, 0.3);
$shadow-color: #666;
$body-color: #111;

$link-color: $primary-color;
$link-hl-color: lighten($primary-color, 10%);

$link-visited-color: $tertiary-color;
