/**
 * @file
 * SMACSS Modules
 *
 * Adds custom modular sets of styles for the macglidden theme.
 *
 * Kept separate from misc to keep organization clean.
 */

/**
 * Header
 */

.header {
  color: #fff;
  height: 400px;
  @include background('setup2');
}

.view-id-front_video {
  @media all and (min-width: 550px) {
    position: absolute;
    left: 50%;

    .view-content {
      position: relative;
      right: 50%;
      top: -5px;
    }
  }
}

/**
 * Youtube Videos.
 */

.media-youtube-player {
  max-width: 100%;
  height: 200px;

  @media all and (min-width: 550px) {
    width: 533px;
    height: 325px;
  }
}

