/**
 * @file
 * SMACSS Modules
 *
 * Adds custom modular sets of styles for the macglidden theme.
 *
 * Kept separate from misc to keep organization clean.
 */

/**
 * Elements
 */

blockquote {
  color: #888;
  line-height: 1.75em;

  @media all and (min-width: 550px) {
    font-size: 1.3em;
    border-left: 4px solid #aaa;
    padding-left: 10px;
  }
}

input[type=submit] {
  padding: 10px 20px;
  background-color: #333;
  transition: background-color 0.5s;
  color: #fff;
  border: 0;

  &:hover {
    transition: background-color 0.5s;
    background-color: #999;
  }
}

.form-textarea-wrapper textarea {
   width: auto;
}

/**
 * Header
 */

.header {
  color: #fff;
  height: 175px;
  @include background('setup2');

  @media all and (min-width: 550px) {
    height: 275px;
  }
}

.front .header {
  height: 375px;

  @media all and (min-width: 550px) {
    height: 475px;
  }
}

.view-id-front_video {
  @media all and (min-width: 550px) {
    position: absolute;
    left: 50%;

    .view-content {
      position: relative;
      right: 50%;
      top: -5px;
    }
  }

  .media-vimeo-video,
  .media-youtube-video {
    line-height: 0;
  }

  .views-field-body {
    position: relative;
    top: 15px;
    padding: 10px;
    text-align: center;
    background-color: $background-transparent-color;

    @media all and (min-width: 550px) {
      position: static;
    }

    p {
      margin: 0;
      text-shadow: 1px 1px $shadow-color;
    }
  }
}

/**
 * Mobile hamburger menu.
 */

$mmenu-size: 42px;

#mag-mmenu {
  width: $mmenu-size;
  height: $mmenu-size;
  cursor: pointer;

  .nav-line {
    stroke: #fff;
    stroke-width: 3px;
  }
}

/**
 * Youtube Videos.
 */

.media-vimeo-player,
.media-youtube-player {
  position: relative;
  max-width: 100%;
  height: 200px;
  top: 15px;

  @media all and (min-width: 550px) {
    width: 533px;
    height: 325px;
    position: static;
  }
}

/**
 * About block.
 */

#block-block-1 {
  text-align: center;
  font-size: $h3-font-size;
  padding-left: 20px;
  padding-right: 20px;

  @media all and (min-width: 550px) {
    padding-left: 100px;
    padding-right: 100px;
  }
}

/**
 * Picture Slideshow.
 */

#block-views-picture-slideshow-block {
  margin-left: -10px;
  margin-right: -10px;
  position: relative;
}

.views-slideshow-cycle-main-frame {
  max-width: 100%;
  margin: 0 auto;
}

.views-slideshow-controls-bottom {
  text-align: center;
}

.views-slideshow-cycle-main-frame-row {
  margin: 0 auto;
}

#views_slideshow_controls_text_previous_picture_slideshow-block,
#views_slideshow_controls_text_next_picture_slideshow-block {
  a {
    display: block;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 22;
    outline: none;
    font-size: 0;

    &:before,
    &:after {
      font-size: 40px;
      font-family: "macglidden", $helvetica;
      color: rgba(255, 255, 255, 0.5);
      position: relative;
      top: 50%;

      @media all and (min-width: 760px) {
        font-size: 70px;
      }
    }
  }
}

#views_slideshow_controls_text_previous_picture_slideshow-block {
  a {
    &:before {
      left: -30%;
      content: '\e801';

      @media all and (min-width: 760px) {
        left: 8%;
      }
    }
  }
}

#views_slideshow_controls_text_next_picture_slideshow-block {
  a {
    &:after {
      right: -30%;
      content: '\e802';

      @media all and (min-width: 760px) {
        right: 8%;
      }
    }
  }
}

#views_slideshow_controls_text_previous_picture_slideshow-block {
}

#views_slideshow_controls_text_next_picture_slideshow-block {
  a {
    left: 50%;
  }
}

#views_slideshow_controls_text_pause_picture_slideshow-block {
  display: none;
}

/**
 * Copyright
 */

#block-custom-mac-copyright {
  text-align: center;
}

/**
 * Tables
 */

.views-table {
  margin: 0 auto;

  .active {
    background-color: transparent;
  }

  .views-field-title {
    padding: 5px 20px;
  }
}

/**
 * Reviews
 */

.view-reviews {
  .views-group {
    @media screen and (min-width: 550px) {
      float: left;
      width: 48%;

      &::first-of-type {
        margin-right: 0.5%;
      }
    }
  }

  .views-row {
    margin: 20px;
    padding: 20px;
    background-color: #f1f1f1;
  }

  .views-field-field-reviewer,
  .views-field-field-organization,
  .views-field-field-event,
  .views-field-field-event-date {
     font-size: 0.75em; /* 12px */

     .views-label {
       font-weight: bold;
     }
  }
}
